In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
import seaborn as sns

In [ ]:
info = pd.read_csv("Trainingdata_stars.csv")
test = pd.read_csv("Testdata_stars.csv")
info

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type
0,3068,0.002400,0.1700,16.12,0
1,3042,0.000500,0.1542,16.60,0
2,2600,0.000300,0.1020,18.70,0
3,2800,0.000200,0.1600,16.65,0
4,1939,0.000138,0.1030,20.06,0
...,...,...,...,...,...
175,3614,145000.000000,1553.0000,-7.71,5
176,18000,200000.000000,1045.0000,-8.30,5
177,11000,170000.000000,1779.0000,-9.90,5
178,12100,120000.000000,708.9000,-7.84,5
179,24490,248490.000000,1134.5000,-8.24,5

In [ ]:
x_info = info.drop(columns= "Star type")
y_info = info["Star type"]
x_test = test.drop(columns = "Star type")
y_test = test["Star type"]

In [ ]:
y_info

0      0
1      0
2      0
3      0
4      0
      ..
175    5
176    5
177    5
178    5
179    5
Name: Star type, Length: 180, dtype: int64

In [ ]:
logreg = LogisticRegression(random_state = 12).fit(x_info,y_info)

In [ ]:
logreg.score(x_info,y_info)

0.5722222222222222

In [ ]:
sns.heatmap(data = info.corr(), annot=True)

In [ ]:
logreg.score(x_test,y_test)

0.6